body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 360px;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

.container {
    height: 100vh;
    max-width: 500px;
    background-color: #000000;
    padding: 24px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:500px) {
    .container {
        min-width:100vw;
        max-width: 100vw;
    }
}

@media (min-width:500px) {
    .container {
        width:500px;
    }
}

.container_box {
    width: 100%;
    background-color: #33CC66;
    margin: 12px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    border-radius: 26px;
}

.form {
    width: 80%;
}

.form_element {
    width: 100%;
    text-align: center;
    margin: 15px 0px;
    height: 40px;
    border: 2px solid #33CC66;
    border-radius: 10px;
    font-size: 20px;
}

.form_element_button {
    background-color:  #33CC66;
    cursor: pointer;
}

.form_element_input:focus {
    outline: none;
    border: 3px solid #009933;
}

.form_element_button:hover {
    background-color:  #009933;
    border: 2px solid #009933;
    cursor: pointer;
}

.form_element_button:active {
    transform: scale(0.98); 
}

.form_element_error {
    color: #FF3300;
}

.notification {
    margin: 10px 5px 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    opacity: 0.8;


    background: #44a4fc;
    border-left: 5px solid #187fe7;

    &.success {
      background: #ffffff;
      border-left-color: #42a85f;
    }

    &.warn {
      background: #ffb648;
      border-left-color: #f48a06;
    }

    &.error {
      background: #e54d42;
      border-left-color: #b82e24;
    }
}